In [1]:
#!pip install mysql-connector-python

In [5]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(user='student', password='student', host='cpanel.insaid.co', database='Capstone1')

In [6]:
df_events = pd.read_sql('SELECT * FROM events_data', con=conn)
#df_gender = pd.read_sql('SELECT * FROM gender_age_train', con=conn)
#df_brand = pd.read_sql('SELECT * FROM phone_brand_device_model', con=conn)

OperationalError: 2013 (HY000): Lost connection to MySQL server during query

In [ ]:
df_events.to_csv('events_data.csv', index=False)
df_gender.to_csv('gender_age_train.csv', index=False)
df_brand.to_csv('phone_brand_device_model.csv', index=False)